<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MyFirstSuite" >
    <test thread-count="2" name="Test" >
        <groups>
            <run>
                <include name="ButtonTests"/>
            </run>
        </groups>
        <classes>
            <class name="examples.GroupingDemo"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->